@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
   /* -------------COLOURS---------------- */

    /* -----PRIMARY---- */

    --DESATURATED-RED: hsl(0, 36%, 70%);
    --SOFT-RED: hsl(0, 93%, 68%);

    /* -----NEUTRAL---- */

    --DARK-GRAYISH-RED: hsl(0, 6%, 24%);

    /* -----LINEAR-GRADIENT---- */

    --GRADIENT-1-COL1:hsl(0, 0%, 100%);
    --GRADIENT-1-COL2:hsl(0, 100%, 98%);

    --GRADIENT-2-COL1:hsl(0, 80%, 86%);
    --GRADIENT-2-COL2:hsl(0, 74%, 74%);
}

body {
    font-family: 'Josefin Sans', sans-serif;
}


.container {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(135deg, var(--GRADIENT-1-COL1), var(--GRADIENT-1-COL2));       
}

header img {
    margin-bottom: 6rem;
}

.mobile-logo img {
    display: none;
}

.left-section {
    width: 60%;
    padding: 4rem 8rem;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;   
}

h1 {
    text-transform: uppercase;
    width: 13rem;
    letter-spacing: .9rem;
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 1.3rem;
}

.accent {
    color: var(--DESATURATED-RED);
    font-weight: 300;
}

.text {
    color: var(--DESATURATED-RED);
    line-height: 1.7;
    max-width: 28rem;
}

form {
    position: relative;
    margin: 2.5rem 0 .5rem;
}

input {
    background-color: transparent;
    border: 1px solid var(--DESATURATED-RED);
    width: 100%;
    padding: .9rem 2rem;
    border-radius: 30px;
}

input:focus {
    border-color: red;
}
  

.error-icon {
    display: none;
    position: absolute;
    right: 23%;
    top: 25%;
}

input::placeholder {
    color: var(--DESATURATED-RED);
}

button {
    position: absolute;
    top: 0;
    right: -1%;
    width: 20%;
    height: 100%;
    border: none;
    border-radius: 30px;
    background: linear-gradient(135deg, var(--GRADIENT-2-COL1), var(--GRADIENT-2-COL2));
    cursor: pointer;
    
}

button:hover {
    background: linear-gradient(135deg, hsl(0, 78%, 93%), hsl(0, 87%, 88%));
    box-shadow: 2px 6px 8px hsla(0, 6%, 24%, 40%);
    
}

.error {
    margin:2rem;
    color: var(--SOFT-RED);
}
.right-section {
   width: 40%;
}

.bg-img {
    background-image: url("images/hero-desktop.jpg");
    background-size: cover;
}

@media screen and (max-width:500px) {
    .container {
        flex-direction: column-reverse;
    }

    .right-section, .left-section {
        width: 100vw;
    }

    .left-section {
        text-align: center;
        padding: 4em 1.7em;
    }

    h1 {
        width: 100%;
        font-size: 2.5em;
    }

    .text {
        width: 100%;
        font-size: .95em;
    }
    
    .bg-img {
        height: 250px;
        background-image: url("images/hero-mobile.jpg");
        /* background-size: contain; */
        background-repeat: no-repeat;
        display: block;
    }

    header img {
        display: none;
    }

    .mobile-logo {
        width: 7em;
        height: auto;
    }

    .mobile-logo img {
        display: block;
        margin: 2em 2em;
        width: 100%;
    }
}

